<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>好きなモノと暮らそう</h1>
        <a href="" class="btn btn-success btn-lg">Dansyariを始める</a>
      </div>
    </div>
  </div>
<% end %>

<p>テスト</p>